.vaga {
    width: 75%; /* mudar depois pra ser global */
    }

/* fontes usadas: Montserrat e Roboto */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* cores usadas */
:root {
    --branco: 245, 245, 245;
    --preto: 18, 18, 18;
    --cinza: 217, 217, 217;

    --realce: 28, 24, 55;
    }

/* variáveis globais */
a {
    text-decoration: none;
    color: var(--realce);
}

body {
    background-color: rgba(var(--branco), 1);
    color: rgba(var(--preto), 1);
    margin: 0;

    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    font-weight: 300;
    }

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    }

/* navbar */
#logo {
    width: 5vh;
}

#titulo {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
}

.navbar {
    background: rgba(var(--branco), 1);
    list-style: none;
}

li {
    padding-left: 0.15em;
    padding-right: 0.15em;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
}

ul {
    padding: 0;
    margin: 0;
}

    .dropdown {
        background: rgba(var(--cinza), 1);
        position: absolute;
        width: 220px;
        display: none;
        max-height: 250px;
        overflow-y: auto;
        scrollbar-width: none;
    }

    .dropdown::-webkit-scrollbar {
        display: none;
    }

    .dropdown li, .navbar li:hover .dropdown {
        display: block;
    }

/* header */
.fundo {
    margin-top: -3.2em;
    padding-top: 3.2em;

    justify-items: center;
    width: 100%;

    background-color: rgba(var(--branco), 1);
    }

header {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 18em;

    display: flex;
    align-items: flex-end;

    background-blend-mode: color;
    background-image:
        linear-gradient(rgba(var(--realce), 1), rgba(var(--realce), 1)),
        url("../images.jpeg");
    }

header h1 {
    user-select: none;
    max-width: 8ch;
    word-wrap: break-word;
    margin-left: 2em;

    color: rgba(var(--branco), 1);
    font-size: 3em;
    font-weight: 900;
    }